body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Стили заголовков */
.main-title {
    font-size: 3em;
    color: #ff5733;
    text-align: center;
    margin-bottom: 20px;
}

.section-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

/* Стили ссылок */
.styled-link {
    color: #007bff;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s, color 0.3s;
}

.styled-link:hover {
    color: #0056b3;
    border-bottom: 2px solid #0056b3;
}

/* Стили изображений */
.feature-image, .map-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Карта */
.map-image {
    margin-top: 20px;
    border: 2px solid #ddd;
}

/* Стили формы */
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

/* Стили футера */
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer-link {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.footer-link:hover {
    color: #ff5733;
}
